{% extends 'base.html' %}

{% block title %}Update Entry{% endblock %}

{% block content %}
    <h1>Bulk Upload CSV</h1>
    <form method="post" enctype="multipart/form-data" class="my-5">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>

    <a href="{% url 'download_example_csv' %}" class="mt-5">
        <button class="btn btn-secondary">Download Example CSV</button>
    </a>

    {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock content %}